*{
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-section {
  width: 100%;
  height: 100%;
  background-color: #024963 ;
}

.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.logo img{
  margin-left: 40px;
  width: 150px;
  height: 50px;
}

.navbar-menu > ul{
  display: flex;
}

.navbar-menu >ul>li{
  list-style: none;
  margin-right: 40px;
  color: white;

}

.dropdown-item{
  margin-top: 10px;
}

.hero-section{
  width: 100%;
  height: 100%;
  background-color: #024963 ;
}

.hero-content{
  display: flex;
  padding-top: 120px;
  padding-bottom: 130px;
}


.hero-text h1{
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  padding-top: 20px;
}

.hero-text>p{
  color: #f7b141;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}
.hero-image{
  margin-left: 50px;
}
.hero-image> img{
  width: 340px;
  margin-right: 50px;
}


.btn-book{
  font-size: 1em;
  background-color: #f7b141;
  color: #024963 ;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
}

.btn-start{
  background-color: #fff !important;

}

.about-section{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.about-section h2{
  font-size: 2.7em;
  font-weight: bold;
}
.about-content{
  display: flex;
  justify-content: center;
} 
.about-image{
  margin-top: 70px;
}
.about-image >img {
  width: 400px;
}

.about-text{
  margin: 100px 0px 0px 20px;
}

.about-text p{
  font-size: 1.3em;
}
.about-text> .bold-para{
  font-weight: bold;
}

.tagline-section{
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.tagline-content{
  color: white;
  background-color: #024963 ;
  padding: 40px 0px;
}

.tagline-content > h2{
  font-size: 2.7em;
  font-weight: bold;
}

.veritcal-line{
  width: 2px;
  height: 90px;
  background-color: #f7b141;
}

.whychoose-section{
  height: 100%;
  width: 99%;
  
}

.whychoose-content{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.whychoose-image > img{
  width: 600px;
  height: 450px;
  border-radius:  0px 30px 30px 0px;
}

.whychoose-text{
  margin: 70px 0px 0px 0px ;
  padding-right: 50px;
}

.whychoose-text .main{
  font-weight: bolder;
  font-size: 1.1em;
}
.whychoose-text > div{
  margin-top: 40px;
}

.whychoose-text .text{
  margin: -90px 0px 50px 10px ;
  font-size: 2.3em;
  font-weight: bold;
}

.whyOpposite-image > img{
  width: 600px;
  height: 450px;
  margin-left: 19px;
  border-radius:  30px 0px 0px 30px;
}

.whyOpposite{
  background-color: #024963;
  color: white;
}

.whyOpposite-content{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}

.process-section{
  background-color: #024963;
  width: 100%;
  height: 100%;
  color: white;
}

.process-section .main-heading{
  font-size: 5em;
  font-weight: bold;
  margin-top: 100px;
  padding-top: 40px;
}

.process-section .para{
  font-size: 2.3em;
  font-weight: bold;
}
.process-content{
  margin-top: 100px;
  padding-bottom: 100px;
}

.process-step > h4{
  color: #f7b141;
  font-weight: bold;
  font-size: 6em;  
}
.process-step > h5{
  font-weight: bold; 
  font-size: 1.4em;
}

.process-step > p{
  opacity: 0.5;
  font-size: 1.2em;
}

.tick{
  width: 20px;
}

.plan-button{
  text-decoration: none;
  width: 100%;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.plan-columns{
  width: 30%;
  margin-left: 20px;
  padding: 30px 30px 30px 30px;
  margin-top: 50px;
  border-radius: 20px;
}

.plan-heading{
  font-size: 2.8em;
  margin-top: 100px;
  font-weight: bold;
}

.plan-columns .main-heading{
  font-size: 3em;
}

.client-section{
  background-color: #024963;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 100px;
}



.card{
  background-color: #024963;
  border: 2px solid #f7b141;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  margin-left: 10px;
  width: 49%;
}
.cards{
  justify-content: space-between;
}
.card .review{
  color: white;
  opacity: 0.5;
  font-size: 1.1em;
  margin-top: 10px;
}

.card > h6{
  color: #f7b141;
  font-size: 1.8em;
  font-weight: bold;
}
.client-para{
  color: #f7b141;
  font-size: 1.7em;
}

.client-heading{
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.card >  .role{
  color: #f7b141;
  font-size: 1.3em;
  margin-top: -12px;
  font-weight: bold;
}

.slider {
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(250px * 10);
  animation: scroll 100s linear infinite ;
}

.slide-track:hover{
  animation-play-state: paused;
}
.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.slide > img{
  width: 50%;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 5 ));
  }
}
 .platform-heading{
  font-size: 3em;
  font-weight: bold;
  color: black;
  margin-top: 100px;
} 

.faq-section{
  background-color: #f7b141;
  padding-bottom: 100px;
}

.faq-content{
  padding-top: 100px;
}

.accordion-button{
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.faq-image > img{
  margin-top: 200px;
}


.accordion-button::after{
  content: "";
  background-image: url(../public/images/icons8-expand-arrow-30.png) !important;
}

.footer-section{
  background-color: #024963;
  width: 100%;
  height: 100%;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.footer .first-column{
    color: white;
    padding-right: 50px;
}
.footer .first-column > h6{
    font-size: 2.5em;
    font-weight: bold;
}

.footer .first-column >h6 span{
  color: #f7b141;
}

.footer .first-column button{
  width: 70%;
  background-color: #f7b141;
  border: none;
  color: #024963;
  font-weight: bold;
  font-size: 2em;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 15px 0px;
}

.footer .second-column{
  color: white;
}

.footer .second-column h6{
  color: #f7b141;
  font-size: 1.4em;
  font-weight: bold;
}

.footer .second-column > ul > li{
  list-style: none;
  margin-top: 12px;
  font-size: 1.1em;
  margin-left: -30px;
}

.footer .third-column img{
  margin-top: 20px;
  width: 200px;
  height: 100px;
}

.footer .third-column{
  padding-left: 60px;
}
.footer .third-column h6{
  color: #f7b141;
  font-size: 1.4em;
  font-weight: bold;
}

.footer .third-column p{
  margin-top: 10px;
  color: #fff;
}

.footer-2{
  padding: 25px 0px;
  color: #f7b141;
}
.mobile-menu-button {
  display: none; /* Initially hide on larger screens */
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar-content {
      flex-direction: row;
      align-items: center;
  }

  .navbar-menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #024963;
      padding: 20px 0;
      text-align: center;
  }

  .navbar-menu.open {
      display: block;
  }

  .mobile-menu-button {
      display: block;
  }

  .navbar-menu ul {
      flex-direction: column;
  }

  .navbar-menu li {
      margin: 10px 0;
      font-size: 16px;
  }
  .hero-content{
    padding-top: 30px;
  }
  .hero-text h1{
    font-size: 3em;
    text-align: start;
  }
  .hero-image{
    margin: 0;
  }

  .hero-image img{
    margin: 0;
    margin-top: 40px;
  }
  .about-text{
    margin: 0;
    margin-top: 30px;
  }
   .whychoose-image> img{
    width: 100%;
   }
   .whychoose-text{
    width: 100%;
    margin: 20px 10px 10px 15px;
    padding-right: 40px;
   }
   .plan-columns{
    width: 95%;
    margin: 10px;
    padding: 20px;
   }

   .card{
    width: 95%;
   }

   .footer >.first-column > button{
    width: 90%;
   }

   .footer .third-column{
    padding-left: 0;
   }
}